## Swagger UI
## Currently Pyramid OpenAPI3 does not support python 3.12, which will raise error.
## This issue can be overcome by disabling Swagger UI.
## SHOW_SWAGGER_UI accepts `true` or `false` as values.
SHOW_SWAGGER_UI=

## Database variables
## postgresql+psycopg2://user:password@host:port/dbname[?key=value&key=value...]
## https://docs.sqlalchemy.org/en/13/dialects/postgresql.html#module-sqlalchemy.dialects.postgresql.psycopg2

## The entire database URL
## If GKCORE_DB_URL is given, it will be given precedence over other configuration
GKCORE_DB_URL=
## Database name
GKCORE_DB_NAME=
## Database username
GKCORE_DB_USER=
## Database user password
GKCORE_DB_PASSWORD=
## Database host
GKCORE_DB_HOST=
## Database port
GKCORE_DB_PORT=
## Unix Domain Connection Path
## If unix socket path is given, it will have precedence over GKCORE_DB_HOST and
## GKCORE_DB_PORT variables.
UNIX_SOCKET_PATH=

## Docker database host port
## This will be useful if default port of postgres, 5432 is already used in the host
## system.
DB_HOST_PORT=

# Boolean fields to toggle registration of new users and organisations
GKCORE_DISABLE_USER_REGISTRATION=
GKCORE_DISABLE_ORG_REGISTRATION=

## Environment configuration
## Choose between development/production environment or use a seperate environment
## configuration. ENVIRONMENT can be used to choose between development/production
## environments, PYRAMID_CONFIG_FILE can be used to select a custom environment
## configuration.
## Default environment will be production. If ENVIRONMENT is specified, it will
## override PYRAMID_CONFIG_FILE setting.
ENVIRONMENT=
PYRAMID_CONFIG_FILE=
